.wrapper {
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	display: none;
}
.wrapper.show {
	display: block;
}

.backdrop {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: rgb(0, 0, 0);
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 0.3) 0%,
		rgba(0, 0, 0, 0.7) 100%
	);
}

.dialog {
	width: min(calc(100% - 20px), 430px);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.dialog .header {
	padding: 5px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #000000;
	border: 1px solid #929292;
	color: #fff;
}

.header .title {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.header .close {
	font-size: 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	background-color: transparent;
	color: inherit;
}

.dialog .cont {
	padding: 40px 20px;
	background-color: #d9d9d9;
	font-size: 20px;
	text-align: center;
	color: #5b5b5b;
}

.dialog .cont :is(h1, h2, h3, h4, h5) {
	color: #000;
}

.dialog .cont .options {
	display: flex;
	justify-content: space-evenly;
	margin-top: 30px;
}

.dialog .cont .options .button {
	cursor: pointer;
}
