.bigIconButton {
	background-color: #f7f7f7;
	border: 1px solid #ececec;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	cursor: pointer;
	align-items: center;
}

.bigIconButton .icon {
	background-color: #ececec;
	border: 1px solid #969696;
	border-radius: 5px;
	width: 90px;
	height: 90px;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;

	font-weight: bold;
}

.bigIconButton .text {
	flex: 1 1 auto;
	text-align: center;
	font-size: 32px;
	font-weight: 600;
}
