.header {
	display: flex;
	padding: 10px 0;
	margin: 20px auto 0 auto;
	align-items: flex-end;
	border-bottom: 1px solid #000;
	width: min(100%, 100vw - 40px);
}

.logo {
	width: min(80%, 300px);
}

.logo img {
	width: 100%;
	display: block;
}

.title {
	font-size: 24px;
	margin-left: auto;
}

.title span {
	font-weight: 200;
}

@media (max-width: 576px) {
	.header {
		flex-direction: column;
		margin-top: 10px;
		align-items: center;
		width: 100%;
	}

	.title {
		margin-left: unset;
	}
}
